@import "../../themes/GlobalThemes.scss";

.button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px 75px;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: #0056b3;
    color: #ffffff;
  }

  &.primary {
    background-color: transparent;
    color: #ffffff;
    border-radius: 40px;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ffffff;
    padding: 8px 35px;

    &:hover {
      background-color: #1a7cbd;
    }
  }
  &.secondary {
    background-color: white;
    color: $background;
    border-radius: 40px;

    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: #adadad;
    }
  }

  &.tertiary {
    background-color: #1768ac;
    color: white;
    border-radius: 40px;
    font-size: 22px;

    &:hover {
      background-color: #5a6268;
    }
  }

  &.warning {
    background-color: #ffc107;
    color: black;

    &:hover {
      background-color: #e0a800;
    }
  }

  &.icon {
    background-color: transparent;
    color: inherit;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  &.disabled {
    background-color: #e0e0e0;
    color: #a0a0a0;
    cursor: not-allowed;

    &:hover {
      background-color: #e0e0e0;
      color: #a0a0a0;
    }
  }
}
