.instruction-selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85vh;
    width: 100%;
    background-color: transparent;
    color: black;
    font-family: "Poppins", sans-serif;


    h1 {
      margin-bottom: 20px;
      font-size: 24px;
    }
  
    ul {
      list-style: none;
      padding: 0;
      .instruction-item {
        cursor: pointer;
        padding: 10px 20px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 8px;
        background-color: #fff;
        transition: background-color 0.2s;
        text-align: center;
  
        &:hover {
          background-color: #f0f0f0;
        }
      }
    }
  }
  