
$background: #03256C;
$font: #FFFFFF;
$secondary-font: #03041a;
$button: #4a42a6;
$button-hover: #403992;
$secondary-button: #e0e0e0;
$secondary-button-hover: #b8b8b8;
$gradient: linear-gradient(to top, #212248, #2e2f51);

$main-blue: #06BEE1;
$main-purple: #ad6dff;
$main-white: #ebebeb;

$font-family: "Inter", sans-serif;
