@use "./themes/GlobalThemes.scss" as themes;

:root {
  --background: #{themes.$background};
  --font: #{themes.$font};
  --button: #{themes.$button};
  --main-blue: #8fdeff;
  --main-purple: #ad6dff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  background-color: var(--background);
  color: var(--font);
  font-family: #{themes.$font-family};
  padding-right: 17px !important;
}

.home-page {
  background-color: var(--background);
  background-image: url("./assets/Dots.png");
}

.login-page {
  background-color: #ffffff;
  background-image: url("./assets/Line 1.svg");
  background-position: right -120px;
}

.documents-page {
  background-color: #ffffff;
  background-image: url("./assets/Line 2docs .svg");
  background-position: calc(100% - 50px) center;
}

.no-padding {
  padding: 0 !important;
}

.docs-padding {
  flex-direction: row !important;
  padding: 70px 60px !important;
  justify-content: space-between;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  gap: 20px;
  width: 100vw;
  padding: 70px 120px;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-thumb {
  background-color: #4b4f5f;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #84858a;
  transition: background-color 0.3s ease;
}

html {
  scroll-behavior: smooth;
}
